.uploadFile{
    justify-content: space-between;
}
.mainContent{
    overflow-x: auto;
    overflow-y:auto;
    max-height: 65vh;
    width: 100%;
}
table {white-space:wrap}
.errors{
    overflow-y:scroll ;
    display: none;
    max-height: 45vh;
    margin: 5%;
}
.login{
 
}
.register{
   
}
.rightContent{
    justify-content: center;
}
.upload{
    /* display: flex; */
    justify-content: flex-end;
    margin-top: 5%;
}
.control{
    justify-content: flex-end;
}
.pages{
    width: 290%;
    display: flex;
    justify-content: flex-end;
}
.setting{
    width: 290%;
    display: flex;
    justify-content: flex-end;
}
.url{
    width: 290%;
    display: flex;
    justify-content: flex-end;
}